<div
class="preloader flex-column justify-content-center align-items-center"
>
<img
  class="animation__shake"
  src="/assets/images/AdminLTELogo.png"
  alt="AdminLTELogo"
  height="60"
  width="60"
/>
</div>

<nav class="main-header navbar navbar-expand navbar-white navbar-light ocultar-header">
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" data-widget="pushmenu" href="#" role="button">
      <i class="fas fa-bars"></i>
    </a>
  </li>
  
 
</ul>

<ul class="navbar-nav ml-auto">
  

  

 
  <li class="nav-item" >
    <a class="nav-link" style="color: #fff;" data-widget="fullscreen" href="#" role="button">
      
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      data-widget="control-sidebar"
      data-controlsidebar-slide="true"
      href="#"
      role="button"
    >
      
    </a>
  </li>
</ul>
</nav>

<aside class="main-sidebar sidebar-dark-primary  elevation-4" style="background-color: #514945;">
<a href="index3.html" class="brand-link">
  <img
    src=""
    
    class="brand-image img-circle elevation-3"
    style="opacity: 0.8;"
  />
  <span class="brand-text font-weight-light"><img src="/assets/images/logo 3.png"  style="width: 100%; height: 9vh;"></span>
</a>

<div class="sidebar">
  <div class="user-panel mt-3 pb-3 pt-3 mb-3 d-flex user-customer" >
    <div class="image">
      <img
        src="/assets/images/user2.png"
        class="img-circle elevation-2"
        alt="User Image"
      />
    </div>
    <div class="info">
      <a href="#" class="d-block au-customer">BIENVENIDO <span>Alex</span> </a>
    </div>
  </div>

 

  <nav class="mt-2">
    <ul
      class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="false"
    >

     <li class="nav-item">
        <a   class="nav-link li-customer">
          <i class="nav-icon fas fa-home"></i>
          <p>
            INICIO
            
          </p>
        </a>
      </li>
    
      
    
      <li class="nav-item">
        <a href="#" class="nav-link li-customer" >
          <i class="nav-icon fas fa-box"></i>
          <p>
            PRODUCTO
            <i class="fas fa-angle-left right"></i>
            
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a routerLink="/listarProducto" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p style="font-size: 14px;">LISTA</p>
            </a>
          </li>
         
         
         
          
          
         
          
        </ul>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link li-customer" >
          <i class="nav-icon fas fa-user"></i>
          <p>
            CLIENTE
            <i class="fas fa-angle-left right"></i>
            
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a  class="nav-link" routerLink="/listarCliente">
              <i class="far fa-circle nav-icon"></i>
              <p style="font-size: 14px;">Lista</p>
            </a>
          </li>
         
          
         
          
          
         
          
        </ul>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link li-customer" >
          <i class="nav-icon fas fa-file"></i>
          <p>
            VENTA
            <i class="fas fa-angle-left right"></i>
            
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a routerLink="/listarFactura" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p style="font-size: 14px;">listar venta</p>
            </a>
          </li>
         
        
        </ul>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a routerLink="/formVenta" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p style="font-size: 14px;">Hacer venta</p>
            </a>
          </li>
         
        
        </ul>

        
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link li-customer" >
          <i class="nav-icon fas fa-copy"></i>
          <p>
            REPORTE
            <i class="fas fa-angle-left right"></i>
            
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="pages/layout/top-nav.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p style="font-size: 14px;">Reporte diario</p>
            </a>
          </li>
         
        
        </ul>
        <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/layout/top-nav.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p style="font-size: 14px;">Reporte mensual</p>
              </a>
            </li>
           
          
          </ul>

          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/layout/top-nav.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p style="font-size: 14px;">Reporte anual</p>
              </a>
            </li>
           
          
          </ul>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link li-customer" >
          <i class="nav-icon fas fa-cog"></i>
          <p>
            MANTENIMIENTO
            <i class="fas fa-angle-left right"></i>
            
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="pages/layout/top-nav.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p style="font-size: 14px;">Editar precio</p>
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="/listarUsuario"
              class="nav-link"
            >
              <i class="far fa-circle nav-icon"></i>
              <p style="font-size: 14px;">Agregar usuario</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="pages/layout/boxed.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p style="font-size: 14px;">Anular nota de venta</p>
            </a>
          </li>
         
          
          
         
          
        </ul>
      </li>

     
     
      


      

   
      
    </ul>
  </nav>
</div>
</aside>
