.hola{
    background-color: red;
}

.disablet{
    background-color: #fff !important;
    color: #000;
    font-weight: 700;
}

@media (max-width: 768px) {

    .disminuir-text{
        font-size: 12px;
    }

     /* BIENVENIDO */
     .bienvenidos{
        width: 100%;
         height: 40vh;

    }

    .boton-aula{
        background-color: #fff;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        cursor:none;
        border: 0;

    }
    
    .tamanio-contenido{
        width: 90%;
        background-color: #e8d7d0;
        padding: 20px;
        padding-top: 0;
    }

    /* TAMNIRO DE CABECERA */

    .tamanio-cabecera{
        width: 80%; 
    }

/* BPTON NUEVO AULA */
.cuadrado-100 {
    width: 40%;
    height: 14vh;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    position: relative; /* Para posicionar elementos internos con respecto a este div */
  }
  
  .cuadrado-20 {

    border: 2px solid #000;
    width: 50px;
    height: 50px;
   
    position: absolute; /* Para superponer este div en el cuadrado-100 */
    top: 60%; /* Centra verticalmente el cuadrado-20 */
    left: 50%; /* Centra horizontalmente el cuadrado-20 */
    transform: translate(-50%, -50%); /* Ajusta el centro del cuadrado-20 */
    text-align: center; /* Centra el texto dentro del cuadrado-20 */
    line-height: 20px; /* Centra verticalmente el texto en el cuadrado-20 */
  }

    /* .color-boton{
        background-color: #eb9695;
        color: #000 !important;
        width: 100%;
    } */

    .local-customer{
        width: 100%;
    }

    /* MODIFICAR TABLA */

    .table.table-sm th,
    .table.table-sm td {
        font-size: 12px; /* Tamaño de fuente más pequeño en dispositivos móviles */
    }

    .table-customer{
        width: 100%;background-color:#f0e1dd ;
        border: none;
    }

    .table-customer{
        border: none; /* Borde de 2 píxeles de ancho, color negro */
        border-collapse: collapse; /* Para evitar espacios entre las celdas */
    
     }
    
     .table-customer th,td{
        /* border: 1px solid black !important; Borde de 2 píxeles de ancho, color negro */
        border-collapse: collapse; /* Para evitar espacios entre las celdas */
    
     }

     /* EDITAR BOTON */

     .color-boton{
        background-color: #eb9695;
        color: #000 !important;
        transition: background-color 0.3s, color 0.3s;
        
      }
    
      .color-boton:hover{
        background-color: #c57c7b;
        /* color: #fff !important; */
        
      }

      /* MODIFICAR FORMULARIO */

      .padin-mobil{
        width: 90%;
       
        display: flex;
        
        margin-left: auto;
        margin-right: auto;
        
      }
      .table-customer{
        padding: 0;
      }
}


@media (min-width: 992px) { 

    /* BIENVENIDO */
    .bienvenidos{
        width: 100%;
         height: 100vh;

    }
       

    /* TMANIO CONTENIDO */

    .tamanio-contenido{
        width: 75%;
        background-color: #e8d7d0;
    }

    /* moificando el numero y aula */


    .tamanio-cabecera{
        width: 75%; 
    }

    .boton-aula{
        background-color: #fff;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        cursor:none;
        border: 0;

    }

    .cuadrado-100 {
        width: 60%;
        height: 14vh;
        background-color: #fff;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        position: relative; /* Para posicionar elementos internos con respecto a este div */
      }
      
      .cuadrado-20 {

        border: 2px solid #000;
        width: 50px;
        height: 50px;
       
        position: absolute; /* Para superponer este div en el cuadrado-100 */
        top: 60%; /* Centra verticalmente el cuadrado-20 */
        left: 50%; /* Centra horizontalmente el cuadrado-20 */
        transform: translate(-50%, -50%); /* Ajusta el centro del cuadrado-20 */
        text-align: center; /* Centra el texto dentro del cuadrado-20 */
        line-height: 20px; /* Centra verticalmente el texto en el cuadrado-20 */
      }
      
      
      

    /* MODIFICAR TEXTO */

    .text-end{
        text-align: end;
        
    }

    /* entrar eso */
    .centrar-esto{
        margin-left: auto;
        margin-right: auto;
    }

    /* MODIFICAR TABLA */

    .table-customer{
        width: 100%;background-color:#f0e1dd ;
        padding:  1.75 rem;

    }
    .table-customer{
        border: none; /* Borde de 2 píxeles de ancho, color negro */
        border-collapse: collapse; /* Para evitar espacios entre las celdas */
        
    
     }
     .table-responsive{
        padding: 1rem;
     }
    
     .table-customer th,td{
        /* border: 1px solid black !important; Borde de 2 píxeles de ancho, color negro */
        border-collapse: collapse; /* Para evitar espacios entre las celdas */
    
     }

    .local-customer{
        width: 80%;
    }

    .hola{
        background-color: green;
    }
    /* .main-header{
        display: none;
    } */

    .jutificado-derecha{
        display: flex;
        
        justify-content: flex-end;
    }

    .custom-rounded {
        border-radius: 20px;
        width: 7rem;
        
      }

      /* EDITAR BOTON */
    
      .color-boton{
        background-color: #eb9695;
        color: #000 !important;
        transition: background-color 0.3s, color 0.3s;
        padding: 10px;
        
      }
    
      .color-boton:hover{
        background-color: #c57c7b;
        /* color: #fff !important; */
        
      }
    
    
}

/* COLOR DE BOTON */



  /* MODIFICANDO USER-ICONO */

  
  .user-customer{
    background-color: #ae5452;
    
    
  }

  .au-customer{
    color: #fff !important;
  }

  /* MODIFICANDO MENU LATERAL */
  .li-customer{
    background-color: #76706c;
     color: #fff;
  }

  .li-customer p{
    
     color: #fff;
  }
  .li-customer i{
    
    color: #fff;
 }

 /* CONFIGURAR TABLA */

 /* BOTON DE INCIAR SESION */

 .btn-loginin{
    background-color: #b93936;
    color: #fff;
    width: 5.2rem;
   
 }

 .centrar-texto{
    text-align: center;
 }

 .centrar-texto .btn-primary{
   background-color: #b93936 !important;
   border: 0;
   border-radius: 10px;
 }


 